[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aoldershaw
[access "refs/for/refs/*"]
	read = group user/aoldershaw
	push = group user/aoldershaw
	label-Code-Review = -2..+2 group user/aoldershaw
	label-Verified = -1..+1 group user/aoldershaw
	rebase = group user/aoldershaw
	removeReviewer = group user/aoldershaw
	submit = group user/aoldershaw
[access "refs/heads/*"]
	read = group user/aoldershaw
	create = group user/aoldershaw
	push = +force group user/aoldershaw
	pushMerge = group user/aoldershaw
[access "refs/tags/*"]
	push = group user/aoldershaw
	push = +force group user/aoldershaw
